<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" style="font-family:Arial, Helvetica, sans-serif">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#eee;width:100%;width:100%">
	<tbody><tr>
		<td>
			<table border="0" cellspacing="0" cellpadding="0" align="center" style="padding:10px;padding:10px;width:100%;width:100%">
				<tbody><tr>
					<td>
						<div style="max-width:600px;margin:0 auto">
							<table border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="background-color:#fff;text-align:left;margin:0 auto;max-width:1024px;min-width:320px;background-color:#fff;text-align:left;margin:0 auto;max-width:1024px;min-width:320px;width:100%;width:100%">
								<tbody><tr>
									<td>
										<table width="100%" border="0" cellspacing="0" cellpadding="0"  style="background: #14a4ff;height: 8px;">
											<tbody><tr>
												<td></td>
											</tr>
										</tbody></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:10px;" >
											<tbody><tr>
												<td>
													<h2 style="padding:0px;margin:5px 20px;font-size:16px;line-height:1;font-weight:normal;color:#09f;">
														Subscribed to <strong style="color:#444;">{{var storeName}}!</strong>													</h2>
												</td>
												<td style="text-align:right">
													<img border="0" style="margin:5px 20px 5px 0;vertical-align:middle;margin:5px 20px 5px 0;vertical-align:middle" src="https://s-ssl.wordpress.com/i/void.gif" alt="">
												</td>
											</tr>
										</tbody></table>

										<table border="0" cellspacing="0" cellpadding="15" bgcolor="#FFFFFF" style="width:100%;width:100%">
											<tbody><tr>
												<td>
													<p style="padding:0;margin:0 0 1em 0; font-size: 14px;">
														Congratulations, you are now subscribed to the site <strong>{{var storeName}}</strong> and will receive an email notification when a new product is made.													</p>
													<table border="0" cellspacing="0" cellpadding="0" style="font-size:13px;padding:0;color:#666;padding-top:.25em;padding-bottom:.25em">
														<tbody>
														    <tr>
																		<td>
																			<a style="border-radius:10em;border:1px solid #333;text-decoration:none;color:#fff;text-shadow:0 1px 0 #000;background-color:#444;padding:5px 15px;font-size:16px;line-height:1.4em;font-weight:normal;margin-left:0"
																			href="{{var manageSubscriptionButtonUrl}}" target="_new">
																			Manage Subscriptions</a>
																		</td>
																		<td align="left">
																				&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size: 12px;font-weight: bold;text-decoration:none;color:#ff5a00;text-decoration:underline;" 
																				href="{{var unsubscribe}}" target="_new">Unsubscribe</a>
																		</td>
															</tr>
														</tbody>
													</table>
																											
																									</td>
											</tr>
										</tbody></table>

										

									</td>
								</tr>
							</tbody></table>

							<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #14A4FF;height: 3px;">
								<tbody><tr>
									<td></td>
								</tr>
							</tbody></table>

						</div>
					</td>
				</tr>
			</tbody></table>

			
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-bottom:2em;color:#555555;">
					<tbody><tr>
						<td align="center">
							<a style="font-size:14px;color:#444!important;text-decoration:none;"
						 	href="{{var siteLink}}" target="_blank">
							 Thanks for flying with {{var storeName}}</a>
						</td>
					</tr>
				</tbody></table>

			
		</td>
	</tr>
</tbody></table>
</body>
</html>

<!--  
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#DDDDDD" style="background:#dddddd;width:100%;width:100%">
	<tbody><tr>
		<td>
			<table border="0" cellspacing="0" cellpadding="0" align="center" style="padding:10px;padding:10px;width:100%;width:100%">
				<tbody><tr>
					<td>
						<div style="max-width:600px;margin:0 auto">
							<table border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="background-color:#fff;text-align:left;margin:0 auto;max-width:1024px;min-width:320px;background-color:#fff;text-align:left;margin:0 auto;max-width:1024px;min-width:320px;width:100%;width:100%">
								<tbody><tr>
									<td>
										<table width="100%" border="0" cellspacing="0" cellpadding="0" height="8" background="http://s.wordpress.com/i/emails/stripes.gif" style="background-image:url('http:/s.wordpress.com/i/emails/stripes.gif');background-repeat:repeat-x;background-color:#43a4d0;min-height:8px;background-image:url('http:/s.wordpress.com/i/emails/stripes.gif');background-repeat:repeat-x;background-color:#43a4d0;min-height:8px;width:100%;width:100%">
											<tbody><tr>
												<td></td>
											</tr>
										</tbody></table>

										<table width="100%" border="0" cellspacing="0" cellpadding="0" style="color:#0088cc;margin:0 0 5px 0;font-size:1.6em;color:#0088cc;margin:0 0 0px 0;font-size:1.6em;background-color:#efefef;padding:0;border-bottom:1px solid #ddd;color:#0088cc;margin:0 0 0px 0;font-size:1.6em;background-color:#efefef;padding:0;border-bottom:1px solid #ddd;width:100%;width:100%">
											<tbody><tr>
												<td>
													<h2 style="padding:0px;margin:5px 20px;font-size:16px;line-height:1;font-weight:normal;color:#464646;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;padding:0px;margin:5px 20px;font-size:16px;line-height:1;font-weight:normal;color:#464646;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif">
														Subscribed to <strong>{{var storeName}}</strong>!													</h2>
												</td>
												<td style="text-align:right">
													<img border="0" style="margin:5px 20px 5px 0;vertical-align:middle;margin:5px 20px 5px 0;vertical-align:middle" src="https://s-ssl.wordpress.com/i/void.gif" alt="">
												</td>
											</tr>
										</tbody></table>

										<table border="0" cellspacing="0" cellpadding="15" bgcolor="#FFFFFF" style="width:100%;width:100%">
											<tbody><tr>
												<td>
													<p style="padding:0;margin:0;font-size:18px;line-height:1.2em;color:#666;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;padding:0;margin:0;font-size:18px;line-height:1.2em;color:#666;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.4em;color:#444444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0;font-size:14px;line-height:1.4em;color:#444444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0">
														Congratulations, you are now subscribed to the site <strong>{{var storeName}}</strong> and will receive an email notification when a new post is made.													</p>
													<table border="0" cellspacing="0" cellpadding="0" style="font-size:14px;padding:0;color:#666;font-size:14px;padding:0;color:#666;padding-top:.25em;padding-bottom:.25em">
														<tbody>
														    <tr>
																		<td>
																			<a style="border-radius:10em;border:1px solid #11729e;text-decoration:none;color:#fff;text-shadow:0 1px 0 #11729e;background-color:#2585b2;padding:5px 15px;font-size:16px;line-height:1.4em;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:normal" 
																			href="{{var manageSubscriptionButtonUrl}}" target="new">
																			Manage Subscriptions</a>
																		</td>
																		<td align="left">
																				&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:14px;text-decoration:underline;font-size:14px;text-decoration:underline;text-decoration:none;color:#0088cc;text-decoration:underline;color:#2585b2;text-decoration:underline;color:#2585b2" 
																				href="{{var unsubscribe}}" target="new">
																				Unsubscribe</a>
																		</td>
															</tr>
														</tbody>
													</table>
																											
																									</td>
											</tr>
										</tbody></table>

										

									</td>
								</tr>
							</tbody></table>

							<table width="100%" border="0" cellspacing="0" cellpadding="0" height="3" background="http://s.wordpress.com/i/emails/stripes.gif" style="background-image:url('http://s.wordpress.com/i/emails/stripes.gif');background-repeat:repeat-x;background-color:#43a4d0;min-height:3px;background-image:url('http://s.wordpress.com/i/emails/stripes.gif');background-repeat:repeat-x;background-color:#43a4d0;min-height:3px;width:100%;width:100%">
								<tbody><tr>
									<td></td>
								</tr>
							</tbody></table>

						</div>
					</td>
				</tr>
			</tbody></table>

			
				<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-bottom:2em;color:#555555;font-size:12px;min-height:18px;text-align:center;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;padding-bottom:2em;color:#555555;font-size:12px;min-height:18px;text-align:center;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;width:100%;width:100%">
					<tbody><tr>
						<td align="center">
						<a style="font-size:14px;color:#555555!important;text-decoration:none;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;color:#555555!important;text-decoration:none;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;color:#555!important;font-size:14px;text-decoration:none" href="http://wordpress.com" target="_blank">Thanks for flying with <img border="0" src="http://s.wordpress.com/i/emails/wp-footericon.png" alt="" style="vertical-align:middle" width="16" height="17"> WordPress.com</a>						</td>
					</tr>
				</tbody></table>

			
		</td>
	</tr>
</tbody></table>
</body>
</html>
-->