<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

</head>

<body leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0"
	style="font-family: Arial, Helvetica, sans-serif">



	<div style="margin: 0; padding: 0; width: 100% !important">

		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			style="background: #eee; width: 100%; width: 100%">

			<tbody>
				<tr>

					<td>
						<table border="0" cellspacing="0" cellpadding="0" align="center"
							style="padding: 10px; padding: 10px; width: 100%; width: 100%"
							width="550">

							<tbody>
								<tr>

									<td>



										<div style="max-width: 600px; margin: 0 auto">



											<table border="0" cellspacing="0" cellpadding="0"
												style="max-width: 1024px; min-width: 320px; background-color: #fff; text-align: left; margin: 0 auto;">

												<tbody>
													<tr>

														<td>



															<table width="100%" border="0" cellspacing="0"
																cellpadding="0"
																style="background: #14a4ff; height: 8px;">

																<tbody>
																	<tr>

																		<td></td>

																	</tr>

																</tbody>
															</table>

															<table width="100%" border="0" cellspacing="0"
																cellpadding="0"
																style="margin: 0 0 5px 0; padding: 0; border-bottom: 1px solid #ddd; background: #fff; border-bottom: 1px dashed #333;">

																<tr>
																	<td style="padding: 3px 15px;"><h2
																			style="font-size: 14px; color: #09f; font-weight: normal;">
																			Follow: <a
																				style="font-weight: bold; color: #444; font-size: 14px; text-decoration: none;"
																				href="{{var siteLink}}"
																				style="" target="_blank">{{var storeName}}</a>
																		</h2>
																	</td>
																</tr>

															</table>





															<table width="100%" border="0" cellspacing="0"
																cellpadding="20" bgcolor="#ffffff"
																style="width: 100%; width: 100%">

																<tbody>
																	<tr>

																		<td>

																			<table border="0" cellspacing="0" cellpadding="0"
																				style="width: 100%; width: 100%">

																				<tbody>
																					<tr>

																						<td valign="top">



																							<p style="font-size: 14px; color: #000;">
																								Howdy.<br>
																								<br> You recently followed our new
																								products. This means you will receive each new
																								product by email.<br>
																								<br>To activate, click confirm below. If
																								you believe this is an error, ignore this
																								message and we'll never bother you again.<br>
																								<br>
																							</p>



																							<p style="font-size: 13px; color: #666;">


																								<b style="color: #09f;">Site Name:</b>
																								{{var storeName}} <br> <b style="color: #09f;">Site URL:</b>
																								<a href="{{var siteLink}}" target="_new" title="{{var storeName}}">{{var siteLink}}</a>
																									
																								
																							</p>



																							<p
																								style="font-size: 14px; padding: 0; color: #666; font-size: 14px; padding: 0; color: #666; padding-top: 1em; padding-bottom: 0em; margin-bottom: 0; margin-left: 0; padding-left: 0">

																								<a
																									style="border-radius: 10em; border: 1px solid #333; text-decoration: none; color: #fff; text-shadow: 0 1px 0 #000; background-color: #444; padding: 5px 15px; font-size: 16px; line-height: 1.4em; font-weight: normal; margin-left: 0"
																									href="{{var confirmButtonUrl}}"
																									target="_new"> Confirm Follow</a>

																							</p>



																							<p
																								style="font-size: 14px; line-height: 1.4em; color: #000;">
																								<br>If you want to see all of the products you
																								follow on the web in one easy place,<br /> <a
																									href="{{var createNewAccount}}"
																									style="font-size: 12px; font-weight: bold; text-decoration: none; color: #ff5a00; text-decoration: underline;"
																									target="_new"> sign up for a
																									 {{var storeName}}</a>.
																							</p></td>

																					</tr>

																				</tbody>
																			</table></td>

																	</tr>

																</tbody>
															</table> <!-- 	

				<table border="0" cellspacing="0" width="550" cellpadding="20" bgcolor="#efefef" style="background-color:#efefef;text-align:left;border-top:1px solid #dddddd;background-color:#efefef;text-align:left;border-top:1px solid #dddddd;width:100%;width:100%">

					<tbody><tr>

						<td style="border-top:1px solid #f3f3f3;color:#888;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;border-top:1px solid #f3f3f3;color:#888;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;background:#efefef;margin:0;padding:10px 20px 5px">

							<p style="font-size:14px;line-height:1.4em;color:#444444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0;font-size:14px;line-height:1.4em;color:#444444;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;margin:0 0 1em 0">

								<strong>Want less email?</strong> Modify your <a href="https://subscribe.wordpress.com/?key=3d54d41b2f1c6e048403d33253c91b53&amp;email=kranthikumar%40contus.in" style="text-decoration:none;color:#0088cc;text-decoration:underline;color:#2585b2;text-decoration:none;color:#0088cc;text-decoration:underline;color:#2585b2" target="_blank">Subscription Options</a>.					</p>

						</td>

					</tr>

				</tbody></table>

		 --></td>

													</tr>

												</tbody>
											</table>



											<table width="100%" border="0" cellspacing="0"
												cellpadding="0" height="3"
												style="background: #14a4ff; height: 5px;">

												<tbody>
													<tr>

														<td></td>

													</tr>

												</tbody>
											</table>



										</div></td>

								</tr>


							</tbody>


						</table>



						<table width="100%" border="0" cellspacing="0" cellpadding="0"
							align="center" style="padding-bottom: 2em; color: #555555;">

							<tbody>
								<tr>

									<td align="center"><a
										style="font-size: 14px; color: #444 !important; text-decoration: none;"
										href="{{var siteLink}}" target="_blank"> Thanks for
											flying with {{var storeName}} </a>
									</td>

								</tr>

							</tbody>
						</table></td>

				</tr>

			</tbody>
		</table>

	</div>



</body>

</html>
